workflow/[2jvfqjbBhbUFcGfQ]응급실-데이터-api---수집-part.json
[{"createdAt":"2025-08-26T05:09:27.302Z","updatedAt":"2025-09-02T14:01:01.069Z","id":"2jvfqjbBhbUFcGfQ","name":"응급실 데이터 API - 수집 Part","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"![](https://raw.githubusercontent.com/2innnnn0/assets/refs/heads/master/image/datapopcorn_logo_50px.png)\n\n# 1. 응급실 현황 데이터 자동 수집 워크플로우\nSource : [국립중앙의료원_전국 응급의료기관 정보 조회 서비스](https://www.data.go.kr/data/15000563/openapi.do)\n\n- data.go.kr 포털에서 위 소스 데이터 활용신청을 하신 후 인증키(API_KEY)를 복사 후 아래 serviceKey에 값을 붙여 넣으시면 됩니다.\n\n- Call API URL ```https://apis.data.go.kr/B552657/ErmctInfoInqireService/getEmrrmRltmUsefulSckbdInfoInqire?serviceKey={api_key}=&STAGE2=&pageNo=1&numOfRows=500```","height":365,"width":709},"id":"5ea1a3f9-8748-4807-9785-d8105510f019","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,-320],"disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[608,144],"id":"3be6224e-0df0-4166-aaa2-8c7210313c80","name":"Convert to File"},{"parameters":{"tableId":"emergency_room","dataToSend":"autoMapInputData"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[608,336],"id":"5c1cf44d-e58c-46be-9e2b-18ac0ee81ad6","name":"Create a row","credentials":{"supabaseApi":{"id":"M1oZmRyY3HTZpJtO","name":"Supabase account - n8n-fastcampus"}}},{"parameters":{"content":"## 방법2. supabase에 직접 넣기.","height":96,"width":528},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[832,320],"id":"cdc1d9fc-fcc2-4519-bf13-ed76776840f8","name":"Sticky Note"},{"parameters":{"content":"## 방법1. CSV 파일 수동 다운로드 후 supabase에 업로드.","height":96,"width":576},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[832,128],"id":"7fc06650-9994-45eb-833c-f4ce31145c65","name":"Sticky Note1"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":20}]}},"id":"d3c361bc-cf69-442d-a141-91c2f99ef923","name":"Every 20minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-240,224]},{"parameters":{"fieldToSplitOut":"response.body.items.item","options":{}},"id":"0dddd25b-35be-4113-b02c-c687fa8917e4","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[176,224]},{"parameters":{"assignments":{"assignments":[{"id":"caf4c4a5-8680-4bca-9902-ece745ed0f6a","name":"hpid","value":"={{ $json.hpid }}","type":"string"},{"id":"f1c6a999-41dd-4a10-961a-2993d90bec1a","name":"dutyName","value":"={{ $json.dutyName }}","type":"string"},{"id":"2c655124-ac78-405c-895e-bde0ce791e97","name":"hvec","value":"={{ $json.hvec }}","type":"number"},{"id":"668c743c-9e45-4ad6-bd17-98b7474826c9","name":"hvidate","value":"={{ new Date(\n  String($json.hvidate).replace(\n    /(\\d{4})(\\d{2})(\\d{2})(\\d{2})(\\d{2})(\\d{2})/,\n    '$1-$2-$3T$4:$5:$6'\n  )\n) }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[384,224],"id":"5f5db96f-914e-4677-924c-f148c02d5a1d","name":"Extract hvec"},{"parameters":{"content":"# TASK\n- `getEmrrmRltmUsefulSckbdInfoInqire` API호출\n- 데이터 전처리","height":304,"width":576,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-64,80],"id":"9f69fa7a-b3d1-4989-85ba-2584b462cd82","name":"Sticky Note5"},{"parameters":{"content":"## (사전준비)\n[Supabase](https://supabase.com/) 에서 emergency_room 테이블 만들기. ","height":96,"width":368},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[832,432],"id":"e2ea24ae-fd08-4191-aa67-f9e472cb7510","name":"Sticky Note6"},{"parameters":{"content":"# TRIGGER\n- 매 20분마다 실행.(1시간에 3번 적재)\n","height":304,"width":256,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,80],"id":"c05d7590-2be1-4e75-a65d-7cd0dfbb6fa2","name":"Sticky Note7"},{"parameters":{"content":"# TARGET\n## 3. DB에 적재","height":521,"width":298,"color":6},"id":"0850068f-7270-4fad-b883-76c749dc91ad","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[528,0]},{"parameters":{"url":"=https://apis.data.go.kr/B552657/ErmctInfoInqireService/getEmrrmRltmUsefulSckbdInfoInqire","sendQuery":true,"queryParameters":{"parameters":[{"name":"serviceKey","value":"=jVwm8WYdMpGK4BqfwpN6eZvd0gaG5oJ5HihWrIhNwhaEdvvtLZHVaChaUQh8fO5GaWlRqxFROPnItSiO7/lf+A=="},{"name":"STAGE1"},{"name":"STAGE2"},{"name":"pageNo","value":"1"},{"name":"numOfRows","value":"500"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"id":"62dd249a-be11-4244-837e-ba75f470aa8b","name":"Get Emergency API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-16,224]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1YRrY_6POQ8h76lDp46YL8WGuvcUm3L3ahWmMh1NisGg","mode":"list","cachedResultName":"emergency_room","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YRrY_6POQ8h76lDp46YL8WGuvcUm3L3ahWmMh1NisGg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"시트1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1YRrY_6POQ8h76lDp46YL8WGuvcUm3L3ahWmMh1NisGg/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[592,576],"id":"125a0433-141c-4da5-9bbf-21bd1442b2d4","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"91ar5Cg6JmPJpWXZ","name":"(DP) Google Sheets account"}}},{"parameters":{"operation":"executeQuery","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[400,576],"id":"7c955b6a-515f-43d6-b5cf-239962281251","name":"Execute a SQL query","credentials":{"postgres":{"id":"66FzaDczUTYu1HC5","name":"Postgres account 2"}}}],"connections":{"Every 20minutes":{"main":[[{"node":"Get Emergency API","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Extract hvec","type":"main","index":0}]]},"Extract hvec":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Get Emergency API":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Create a row":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger2":{"recurrenceRules":[]},"node:Every 20minutes":{"recurrenceRules":[]},"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]},"node:Daily 9AM":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5335e97e-1391-4a1b-b9b6-1b5c64c6a620","triggerCount":1,"shared":[{"createdAt":"2025-08-26T05:09:27.302Z","updatedAt":"2025-08-26T05:09:27.302Z","role":"workflow:owner","workflowId":"2jvfqjbBhbUFcGfQ","projectId":"sjNgDrdbhRMMF6SK"}],"tags":[{"createdAt":"2025-09-01T14:09:48.523Z","updatedAt":"2025-09-01T14:09:48.523Z","id":"HXcPMZm4jJyHN38i","name":"backup"}]}]