workflow/[ZsdLhGxv2mihcx5m]ios-단축어-음성에이전트->-응급-병상체크.json
{"updatedAt":"2025-11-19T07:27:57.844Z","createdAt":"2025-11-18T15:57:30.777Z","id":"ZsdLhGxv2mihcx5m","name":"iOS 단축어-음성에이전트 > 응급 병상체크","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"hospital","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[656,-208],"id":"3c1e480d-2357-4165-af77-22f12662f9f4","name":"Webhook","webhookId":"6dfa71ab-04c3-4fb5-bea5-6aba285e834c"},{"parameters":{"model":"gpt-4.1-mini","options":{}},"id":"85598474-1e66-4177-b890-ea9d7e77b9b1","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[832,16],"typeVersion":1,"credentials":{"openAiApi":{"id":"ledUugAWoH4Uadky","name":"(fastcampus)OpenAi account"}}},{"parameters":{"respondWith":"text","responseBody":"={{ $json.output }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/plain; charset=utf-8"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1264,-208],"id":"2d60ac0b-cebe-4eb6-ba7b-e5a72bb3eba1","name":"Respond to Webhook"},{"parameters":{"url":"=https://apis.data.go.kr/B552657/ErmctInfoInqireService/getEmrrmRltmUsefulSckbdInfoInqire","sendQuery":true,"queryParameters":{"parameters":[{"name":"serviceKey","value":"=jVwm8WYdMpGK4BqfwpN6eZvd0gaG5oJ5HihWrIhNwhaEdvvtLZHVaChaUQh8fO5GaWlRqxFROPnItSiO7/lf+A=="},{"name":"STAGE1","value":"인천광역시"},{"name":"STAGE2","value":"계양구"},{"name":"pageNo","value":"1"},{"name":"numOfRows","value":"500"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"id":"c59816ee-2539-4fb4-9a8a-8d175d558ccd","name":"Get Emergency API1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,272]},{"parameters":{"content":"# TRIGGER\n","height":304,"width":256,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[576,128],"id":"f6d55de6-3a13-423c-8c33-ae042efb61ea","name":"Sticky Note12"},{"parameters":{"content":"# TASK\n- `getEmrrmRltmUsefulSckbdInfoInqire` API호출\n- 데이터 전처리","height":304,"width":576,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[864,128],"id":"0c4ba0e3-f155-4117-8d0f-d752090b3533","name":"Sticky Note11"},{"parameters":{"fieldToSplitOut":"response.body.items.item","options":{}},"id":"2b8199fd-b6d8-4f5a-8f9b-bd66ae089a50","name":"Split Out2","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1104,272]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b6fec0ca-e763-4ee3-8416-346409d29663","leftValue":"={{ $json.dutyName }}","rightValue":"인천세종병원","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1328,272],"id":"d01e21ae-9753-45ce-93f6-ab841fa69a33","name":"Filter"},{"parameters":{"promptType":"define","text":"={{ $json.body.parseJson().input }}","options":{"systemMessage":"=작업(Task)\n\t•\t당신은 음성으로 답변을 전달하는 도우미입니다. 사용자가 모바일에서 음성으로 듣기 때문에 답변은 짧고 간결해야 합니다. 줄바꿈 기호 같은 특수문자는 쓰지 마세요.\n\n맥락(Context)\n\t•\t오늘은 {{ $now.setLocale('Asia/Seoul') }} 입니다.\n\t•\t사용자가 물어보면, 당신은 n8n 워크플로우에서 실행되는 AI 에이전트임을 알려주세요.\n\n“””\n데이터 스키마\n\t•\t이 도메인은 보건복지부 응급의료포털 OpenAPI “응급실 실시간 가용병상 정보(getEmrrmRltmUsefulSckbdInfoInqire)” 응답을 기반으로 한다.\n\t•\t응답은 JSON 배열이며, 각 원소는 한 병원의 실시간 병상/장비 현황을 나타내는 객체이다.\n\n[기관 기본 정보]\n\t•\tdutyName (string): 병원명. 예) “인천세종병원”\n\t•\tdutyTel3 (string): 응급실 대표전화. 예) “032-240-8119”\n\t•\thpid (string): 병원 고유 ID\n\t•\tphpid (string): 상위/원본 병원 ID (hpid와 같을 수 있음)\n\t•\trnum (number): 레코드 순번\n\t•\thvidate (number|string): 데이터 생성 시각, 형식 YYYYMMDDHHMMSS. 예) 20251118151410\n\n[주요 병상 가용 수]\n\t•\thvec (number): 응급실 일반 병상 가용 수\n\t•\thvicc (number): 중환자실(ICU) 일반 병상 가용 수\n\t•\thvgc (number): 입원실 일반 병상 가용 수\n\t•\thvoc (number): 수술실 가용 수\n\t•\thv29 (number): 응급실 음압 격리 병상 가용 수\n\t•\thv35 (number): 중환자실 음압 격리 병상 가용 수\n\t•\thv41 (number): 정신과/폐쇄 병동 등 특수병상 가용 수\n\n[장비/시설 가용 여부(Y/N1)]\n\t•\thvamyn (string): 구급차 가용 여부\n\t•\thvctayn (string): CT 가용 여부\n\t•\thvmriayn (string): MRI 가용 여부\n\t•\thvangioayn (string): 혈관촬영(Angio) 가용 여부\n\t•\thvcrrtayn (string): CRRT 가용 여부\n\t•\thvecmoayn (string): ECMO 가용 여부\n\t•\thvincuayn (string): 인큐베이터 가용 여부\n\t•\thvoxyayn (string): 고압산소치료기 가용 여부\n\t•\thvhypoayn (string): 중심체온조절유도기 가용 여부\n\t•\thvventiayn (string): 인공호흡기(VENTI) 가용 여부\n\t•\thvventisoayn (string): 인공호흡기(조산아용 등 특수) 가용 여부\n\n[당직/연락처 정보]\n\t•\thvdnm (string): 오늘 응급실 당직의 이름\n\t•\thv1..hv12 (string): 과별 당직의 직통 연락처\n\t•\thv1: 응급실 당직의 직통 연락처\n\t•\thv12: 소아과 당직의 직통 연락처 등\n\n[병상 기준 수(정원)]\n\t•\thvs01..hvs61 (number): 병상 기준(정원) 정보\n\t•\t예: hvs01 = 일반 병상 기준 수, hvs50 = [응급전용] 중환자실 음압격리 기준 수 등\n\t•\t사용자가 “기준 병상”이나 “정원”을 물어보면 hvs 값을, “현재 남은 병상”을 물어보면 hv 값을 사용한다.\n\n[값 해석 규칙]\n\t•\t“Y” / “N1” 값:\n\t•\t“Y”: 현재 사용 가능 → 음성으로는 “사용 가능하다” 또는 “있다”고 짧게 답한다.\n\t•\t“N1”: 현재 사용 불가 → 음성으로는 “현재 사용 불가능하다” 또는 “없다”고 답한다.\n\t•\t숫자 값:\n\t•\t0이면 “현재 남은 병상이 없다”고 답한다.\n\t•\t1 이상이면 “현재 N개 남아 있다”처럼 개수를 알려준다.\n\t•\thvidate:\n\t•\t사용자가 물어보면 “YYYY년 MM월 DD일 HH시 mm분 기준” 형태로 자연스럽게 읽어준다.\n\n[응답 전략]\n\t•\t사용자가 컬럼명을 직접 말하면 해당 필드만 읽어준다. (예: “hvec”, “hvicc”)\n\t•\t“응급실 현황”, “중환자실 현황”처럼 묶어서 물으면 관련된 핵심 숫자 2~3개만 요약해서 말한다.\n\t•\t값이 비어 있거나 필드가 없으면 “해당 정보는 제공되지 않는다” 또는 “모른다”고만 짧게 답한다.\n“””\n\n도구 사용\n\t•\t날씨에 대해서 물어보면 openweathermap 도구를 사용해서 오늘 날씨를 알려주세요.\n\t•\t응급실 병동현황에 대해 물어보면 getEmrrmRltmUsefulSckbdInfoInqire 도구를 사용해서 답변해주세요.\n\n- 햔재 뱡원에서 예약가능한 스케쥴에 대해서 물어보면 \"Check Schedule Tool\" 와 \"Book Appointment Tool\"을 사용하세요.\n- Check Schedule Tool (PostgreSQL SELECT)\n   - Supabase에서 특정 날짜의 예약 현황을 조회\n   - 쿼리 예시:\n     SELECT * FROM public.hospital_timetable \n     WHERE \"Date\" = '2025-11-18' AND \"Doctor\" = 'A'\n     ORDER BY \"Time\"\n   - 반환된 데이터에서 Status = \"Available\" 여부로 판단\n   - Time은 TEXT 형식 \"09:00\", \"10:00\" 등으로 비교\n- Book Appointment Tool (PostgreSQL UPDATE)\n   - 환자가 \"정말 예약하겠다\"고 명확히 확정 의사를 보인 후에만 사용\n   - 쿼리 예시:\n     UPDATE public.hospital_timetable \n     SET \"Status\" = 'Booked', \"Customer\" = '환자이름', \"Customer_Phone\" = '010-XXXX-XXXX'\n     WHERE \"Date\" = '2025-11-18' AND \"Time\" = '09:00' AND \"Doctor\" = 'A'\n   - 필수 정보: 고객 이름, 전화번호, 예약 날짜, 예약 시간(HH:MM)\n\n\n\n예)\n\t•\t어떤 정보들을 알려줄 수 있어?\n\t•\t우리 병원 이름은(dutyName)는?\n\t•\t우리 병원 응급실 번호(dutyTel3)는?\n\t•\t가장 마지막 업데이트(hvidate)가 언제야\n\t•\t현재 응급실(hvec) 현황 알려줘.\n\t•\t현재 중환자실(hvicc) 현황 알려줘.\n\t•\t오늘 당직의(hvdnm) 누구야?\n\t•\t구급차가용여부(hvamyn) 알려줘\n\n출력(Output)\n\t•\t답변은 짧고 명확하게, 음성 전달에 맞게 최적화하세요. 모르는 내용은 모른다고만 답하세요."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[928,-208],"id":"2610ea51-7b2c-4f5e-97c6-b7fdd06fd33a","name":"Check Availablity Room Voice AI Agent"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[656,272],"id":"58e5c7b2-879d-4dfd-9773-bdd2852f5360","name":"When Executed by Another Workflow"},{"parameters":{"description":"Call this tool when the user asks about emergency room or ICU bed status, hospital name, emergency phone number, duty doctor, or any field defined in the schema. The input should be the user’s natural-language question. The workflow will return the latest real-time ER/ICU availability data from the getEmrrmRltmUsefulSckbdInfoInqire API. Always use this tool for hospital-bed related questions; do not answer from memory.","workflowId":{"__rl":true,"value":"ZsdLhGxv2mihcx5m","mode":"list","cachedResultUrl":"/workflow/ZsdLhGxv2mihcx5m","cachedResultName":"iOS 단축어-음성에이전트 > 응급 병상체크"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1008,16],"id":"c9eaea66-1682-4b86-ab0d-dcec4fbf80f0","name":"getEmrrmRltmUsefulSckbdInfoInqire"},{"parameters":{"operation":"update","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"hospital_timetable","mode":"list","cachedResultName":"hospital_timetable"},"columns":{"mappingMode":"defineBelow","value":{"Status":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}","Customer":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Customer', ``, 'string') }}","Customer_Phone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Customer_Phone', ``, 'string') }}","Doctor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doctor__using_to_match_', ``, 'string') }}","Time":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Time__using_to_match_', ``, 'string') }}","Date":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date__using_to_match_', ``, 'string') }}"},"matchingColumns":["Date","Time","Doctor"],"schema":[{"id":"Date","displayName":"Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Time","displayName":"Time","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Doctor","displayName":"Doctor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Customer","displayName":"Customer","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Customer_Phone","displayName":"Customer_Phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1504,-192],"id":"894e8afc-548b-4540-945b-4a3b443f080a","name":"Book Appointment Tool(postgres)","credentials":{"postgres":{"id":"TLS7jtD0Cpyom1Is","name":"n8n-fastcampus"}},"disabled":true},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"hospital_timetable","mode":"list","cachedResultName":"hospital_timetable"},"returnAll":true,"where":{"values":[{"column":"Date","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `검색할 진료 날짜를 ISO 날짜 형식(YYYY-MM-DD)으로 입력합니다.\n예: 2025-11-18\n테이블의 Date 컬럼과 정확히 일치해야 합니다.`, 'string') }}"},{"column":"Time","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values1_Value', `검색할 진료 시간을 HH:MM 형식으로 입력합니다.\n예: 09:00, 10:00, 13:00\n테이블의 Time 컬럼과 완전히 동일한 문자열이어야 합니다.\n(주의: 9:00이 아니라 반드시 09:00)`, 'string') }}"},{"column":"Doctor","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values2_Value', `담당 의사명을 정확히 입력합니다.\n현재 데이터는 모두 Doctor = 'A' 입니다.`, 'string') }}"}]},"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.6,"position":[1664,-192],"id":"2a244669-9199-4f4a-a860-e980d9185236","name":"Check Schedule Tool(postgres)","credentials":{"postgres":{"id":"TLS7jtD0Cpyom1Is","name":"n8n-fastcampus"}},"disabled":true},{"parameters":{"content":"![](https://raw.githubusercontent.com/2innnnn0/assets/refs/heads/master/image/datapopcorn_logo_50px.png)\n\n# [인천세종병원 응급실 현황](https://apis.data.go.kr/B552657/ErmctInfoInqireService/getEmrrmRltmUsefulSckbdInfoInqire?serviceKey=Ni8NA6JQYRglvzf8xZsvJGu3lSse17t5roa%2B5FQCiD0gWCh4wPz8kGMfwOXJHyo%2Bzsp0x7YrErhalvLWX09lSg%3D%3D&STAGE1=%EC%9D%B8%EC%B2%9C%EA%B4%91%EC%97%AD%EC%8B%9C&STAGE2=%EA%B3%84%EC%96%91%EA%B5%AC&pageNo=1&numOfRows=1000) 음성 에이전트\n\n- iOS 단축어 기능에 n8n Webhook을 연동하여 동작하게 설정.\n- 음성은 OpenAI TTS를 사용.","height":272,"width":640},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[576,-496],"id":"08e63062-1424-47df-ab11-b24be1963b3d","name":"Sticky Note"},{"parameters":{"cityName":"seoul, kr","language":"ko"},"type":"n8n-nodes-base.openWeatherMapTool","typeVersion":1,"position":[1600,-16],"id":"58907632-88e1-4b08-90c2-00808a432c00","name":"OpenWeatherMap","credentials":{"openWeatherMapApi":{"id":"fYW3S0U0ax0daIMD","name":"OpenWeatherMap account"}},"disabled":true}],"connections":{"Webhook":{"main":[[{"node":"Check Availablity Room Voice AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Check Availablity Room Voice AI Agent","type":"ai_languageModel","index":0}]]},"Get Emergency API1":{"main":[[{"node":"Split Out2","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Check Availablity Room Voice AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Emergency API1","type":"main","index":0}]]},"getEmrrmRltmUsefulSckbdInfoInqire":{"ai_tool":[[{"node":"Check Availablity Room Voice AI Agent","type":"ai_tool","index":0}]]},"Book Appointment Tool(postgres)":{"ai_tool":[[]]},"Check Schedule Tool(postgres)":{"ai_tool":[[]]},"OpenWeatherMap":{"ai_tool":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6e1aa85d-509b-4e20-ba1f-72024d1cdd3b","triggerCount":1,"shared":[{"updatedAt":"2025-11-18T15:57:30.777Z","createdAt":"2025-11-18T15:57:30.777Z","role":"workflow:owner","workflowId":"ZsdLhGxv2mihcx5m","projectId":"sjNgDrdbhRMMF6SK"}],"tags":[{"updatedAt":"2025-09-01T14:09:48.523Z","createdAt":"2025-09-01T14:09:48.523Z","id":"HXcPMZm4jJyHN38i","name":"backup"},{"updatedAt":"2025-11-18T15:56:52.330Z","createdAt":"2025-11-18T15:56:52.330Z","id":"IG1vPlV6Pswhlesy","name":"인천세종병원"}]}